.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  margin: 30px;
}

.card-container-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.card-container-card img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.card-container-card > h3 {
  font-size: large;
  font-weight: bolder;
  padding: 10px;
}

.card-container-card > p {
  padding: 10px;
}

@media (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (max-width: 600px) {
  .card-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
