.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
  margin: 60px;
}

.card-container-card {
  width: 400px;

  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease-out;
}

.card-container-card:hover {
  overflow: hidden;
  transform: translateY(-5px);
  box-shadow: 0 24px 36px #222831;
}

.card-container-card img {
  display: flex;
  object-fit: contain;
  border-radius: 8px;
}

@media (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (max-width: 600px) {
  .card-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
