@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    --deepsea : rgb(34, 40, 49);
    --midnightblue : rgb(49, 54, 63);
    --frostymint : rgb(118, 171, 174);
    --moonlight : rgb(238, 238, 238);
    --darkerFrostyMint: rgb(108, 161, 164);
  }

body {
    font-family: 'Pretendard-Regular', sans-serif;
    background-color: var(--deepsea);
}

#reviewArea {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-height: 80%; 
    overflow-y: auto;
    background-color: var(--moonlight);
   
   
    padding: 50px;
    border-radius: 20px;
  }
  
  #reviewForm {
    display: inline-block; 
    display: flex;
    border-radius: 10px;
  }
  
  #reviewForm input,
#reviewForm textarea,
#reviewForm button {
    display: block;
    border: 1px solid var(--moonlight);
    border-radius: 5px;
}

#reviewForm button {
    background-color: var(--frostymint);
    color: #fff;
    cursor: pointer;
}

#reviewForm button:hover {
    background-color: var(--darkerFrostyMint);
}

  
  .reviewItemDiv{
   display: grid;
   grid-template-columns: 1fr 1fr 6fr 0.5fr 0.5fr;
   margin-bottom: 10px;
   background-color: var(--moonlight); 
   border: 3px solid var(--frostymint);
   border-radius: 10px;
  }
  
  .reviewItemDiv p {
    margin-left: 10px; 
    margin-right: 10px;
    display: inline-block;
    
  }
  
  .editButton, .deleteButton {
    border-radius: 10px;
    width: 40px;
    height: 40px;
    margin-top: 6px;
    border-color: var(--frostymint);
    background-color: var(--frostymint);
    color: var(--moonlight);
  }

  