header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
  }
  
header > :nth-child(1) > a:hover {
    color: #76abae;
  }
  
header > :nth-child(2) > a:hover {
    color: #76abae;
  }

header a {
    color: white;
    cursor: pointer;
    text-decoration-line: none;
}
  
body {
    margin: 0px 0px 0px 0px;
}
.backdrop-container {
    position: relative;
    height: 450px;
}

.title-rating-genres
{
    margin: 0px auto 0px auto;
    width:1450px;
    position: absolute;
    bottom: 8%;
    display:flex;
    align-items: baseline;
    left: 12%;
}

.title {
    color:aliceblue;
    font-weight: 900;
    max-width:62%;
    left:30%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 40px;
    font-size: 72px;
}
.rating {
    color:aliceblue;
    font-size: 24px;
    font-weight: 900;
    margin:auto auto 10px auto;
}

.genres {
    flex-grow:1;
    text-align: end;
    color:aliceblue;
    font-size: 20px;
    font-weight: 500;
    margin:auto auto 10px auto;
}


.backdrop-wallpaper {
    position: absolute;
    background-size: cover;
    background-position: 18% 18%;
    width: 100%;
    height: 100%;
}

.backdrop-wallpaper-dim {
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 32.47%, rgba(0, 0, 0, 0.6) 67.36%, rgba(0, 0, 0, 0.8) 100%);
    width: 100%;
    height: 360px;
}

.movie-info-container {
    background-color:rgb(238, 238, 238);
    
    border-radius: 20px;

    height: 500px;
    width: 1400px;
    padding: 40px;

    display: flex;
    flex-direction: row;
    margin: 20px auto 0px auto;
    justify-content: space-between;

    align-items: stretch;
}


.poster-and-overview {
    display: flex;
}

.overview {
    margin-top:auto;
    margin-bottom: auto;
    margin-left: 50px;
    margin-right: 30px;
    font-size: 28px;
}

.crew-info-container {
    border-radius: 20px;
    background-color:rgb(238, 238, 238);
    
    height: 370px;
    width: 1400px;
    padding: 40px;

    display: flex;
    flex-direction: row;
    margin: 30px auto 80px auto;
    justify-content: space-between;

    align-items: stretch;
}

.crew-card {
    width:200px;
}

.crew-image {
    width: 200px;
}

.crew-name {
    text-align: center;
    width: 200px;
    margin-top:15px;
    margin-bottom: 0px;
    font-size: 14pt;
}

.crew-job {
    text-align: center;
    width: 200px;
    margin-top:5px;
    font-size: 12pt;
    font-weight: 500;
}

:root {
    --deepsea : rgb(34, 40, 49);
    --midnightblue : rgb(49, 54, 63);
    --frostymint : rgb(118, 171, 174);
    --moonlight : rgb(238, 238, 238);
    --darkerFrostyMint: rgb(108, 161, 164);
  }

body {
    font-family: 'Pretendard-Regular', sans-serif;
    background-color: var(--deepsea);
}

#reviewArea {
    margin: 0px auto 50px auto;
    width: 50%;
    max-height: 80%; 
    overflow-y: auto;
    background-color: var(--moonlight);
   
   
    padding: 50px;
    border-radius: 20px;
  }
  
  #reviewForm {
    width:100%;
    display: inline-block; 
    display: flex;
    border-radius: 10px;
    margin: auto auto auto auto;
    justify-content: center;
    gap:5px;
  }
  
  #reviewForm input,
#reviewForm textarea,
#reviewForm button {
    display: block;
    border: 1px solid var(--moonlight);
    border-radius: 5px;
}

#reviewForm button {
    background-color: var(--frostymint);
    color: #fff;
    cursor: pointer;
    width:10%;
}

#reviewForm button:hover {
    background-color: var(--darkerFrostyMint);
}

  
  .reviewItemDiv{
   display: grid;
   grid-template-columns: 1fr 1fr 6fr 0.5fr 0.5fr;
   margin-bottom: 10px;
   background-color: var(--moonlight); 
   border: 3px solid var(--frostymint);
   border-radius: 10px;
  }
  
  .reviewItemDiv p {
    margin-left: 10px; 
    margin-right: 10px;
    display: inline-block;
    
  }
  
  .editButton, .deleteButton {
    border-radius: 10px;
    width: 40px;
    height: 40px;
    margin-top: 6px;
    border-color: var(--frostymint);
    background-color: var(--frostymint);
    color: var(--moonlight);
  }

  