/* 검색 부분 */
.form-container {
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative; /**/
}

.form-container > form > input {
  border: none;
  outline: none;
  padding: 5px 0 5px 0; /**/
  border-radius: 30px 0 0 30px;
  background-color: #eeeeee;
  margin-top: 5px; /**/
  float: left;
}

.form-container > form > button {
  border: none;
  outline: none;
  padding: 5px 0 5px 0; /**/
  border-radius: 0 30px 30px 0;
  color: white;
  width: 70px;
  background-color: rgb(118, 171, 174);
}
