header {
  display: flex;
  justify-content: center;
  height: 10vh;
  background-color: #222831;
  box-shadow: 0 4px 2px -2px #22283180; /**/
}

header > :nth-child(1) > a:hover {
  color: #76abae;
  font-weight: 900;
}

header > :nth-child(2) > a:hover {
  color: #76abae;
  font-weight: 900;
}
/**/
.header-menu {
  display: flex;
  gap: 40px;
}
/**/
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 1140px;
}
