header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
}

header > :nth-child(1) > a:hover {
  color: #76abae;
}

header > :nth-child(2) > a {
  padding: 10px;
  cursor: pointer;
}

header > :nth-child(2) > a:hover {
  color: #76abae;
}




