@import "./reset.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@import "./header.css";
@import "./form.css";
@import "./card.css";
@import "./modal.css";
@import "./pagenation.css";
@import "./moveBtn.css";
@import "./main.css";

body {
  background-color: #31363f;
  font-family: "Pretendard", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body::-webkit-scrollbar {
  background-color: white;
  width: 15px;
}

body::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
}

main {
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  color: white;
  cursor: pointer;
  text-decoration-line: none;
}

button {
  background-color: #76abae;
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #76abae;
  color: #31363f;
}

button:active {
  background-color: #e0aed0;
  color: white;
}
