@import "./reset.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "./header.css";
@import "./form.css";
@import "./card.css";
@import "./modal.css";
@import "./pagenation.css";

/*바디 영역*/
body {
  background-color: #eeeeee;
  font-family: "Pretendard-Regular";
}
body::-webkit-scrollbar {
  background-color: white;
  width: 15px;
}

body::-webkit-scrollbar-thumb {
  background-color: #76abae;
  border-radius: 5px;
}
*,
header,
header > img {
  display: flex;
  align-items: flex-end;
}
main {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  color: black;
  text-decoration-line: none;
}

h2 {
  font-weight: bold;
}

button {
  background-color: #63e6be;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #48c9b0;
}

button:active {
  background-color: #1abc9c;
}
