/* **** 스크롤 이동동작 구현 */
.btns {
  display: flex;
  position: fixed;
  right: 0.4rem;
  bottom: 0.2rem;
  cursor: pointer;
}

.moveToTop {
  bottom: 5rem;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: fixed;
  right: 12px;
  background: rgb(12, 12, 12);
  font-size: 20px;
  text-align: center;
  line-height: 2.4rem;
  border: 1px solid rgb(71, 79, 122);
  box-shadow: 0 0 5px rgb(71, 79, 122);
  color: white;
}

.moveToBottom {
  bottom: 2rem;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: fixed;
  right: 12px;
  background: rgb(12, 12, 12);
  font-size: 20px;
  text-align: center;
  line-height: 2.4rem;
  border: 1px solid rgb(71, 79, 122);
  box-shadow: 0 0 5px rgb(71, 79, 122);
  color: white;
}

.moveToTop:hover {
  color: rgb(238, 238, 238);
  background: rgb(66, 71, 105);
}

.moveToBottom:hover {
  color: rgb(238, 238, 238);
  background: rgb(66, 71, 105);
}
