.pagination {
  background-color: #76abae;
  padding: 15px 0 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(118, 171, 174);
}

#current-page {
  padding: 0 15px 0 15px;
  color: black;
}
